<div class="contact">
  <h1>Contact Info:</h1>
  <p>Name: <%= @contact.first_name %> <%= @contact.last_name %></p>
  <p>email: <%= @contact.email %></p>
  <p>Phone number: <%= @contact.phone_number %></p>
</div>

<%= link_to "Delete This Contact", "/contacts/#{@contact.id}", method: :delete %>
