<div class="contact">
  <h1>Contact Info:</h1>
  <p>Name: <%= @contact.full_name %></p>
  <p>email: <%= @contact.email %></p>
  <p>Phone number: <%= @contact.phone_number %></p>
  <p>Bio: <%= @contact.bio %></p>
  <p>Updated on: <%= @contact.updated_at_time %></p>
  <p>Latitude: <%= @contact.latitude %></p>
  <p>Longitude: <%= @contact.longitude %></p>
</div>

<%= link_to "Delete This Contact", "/contacts/#{@contact.id}", method: :delete %>
